zsh/.zsh_history
BraveSoftware/
Code - OSS/
Code/
Debauchee/
Electron/
GIMP/
Kitware/
Kiwix/
Kvantum/
Lazy/
MangoHud/
NvChad/
Postman/
QtProject.conf
QtProject/
Spotify-AdKiller/
Synergy/
TabNine/
arkrc
autostart/
baloofileinformationrc
bashtop/
btop/
cef_user_data/
cfg_backups/
chromium/
clerk/
create-next-app-nodejs/
dconf/
discord/
dolphinrc
enlisted/
fish/
freerdp/
github-copilot/
htop/
joplin-desktop/
joplin/
kclockdrc
kclockrc
kde.org/
kdeglobals
kdenlive-layoutsrc
kdenliverc
keepassxc/
kiorc
ktimerrc
kwalletrc
lazygit/
lf/
libfm/
libreoffice/
lsd/
lvim/
menus/
nextjs-nodejs/
nodemon.json
nvim/
nwg-look/
obs-studio/
obsidian/
okularpartrc
okularrc
pavucontrol.ini
pcmanfm-qt/
pulse/
qBittorrent/
qt5ct/
qt6ct/
redshift.conf
session/
swappy/
tool_state
trashrc
turborepo/
unity3d/
vlc/
wget/
wlogout/
xsettingsd/
Cursor
