zsh/.zsh_history
BraveSoftware/
Code - OSS/
Electron/
GIMP/
Kitware/
Kiwix/
Kvantum/
Lazy/
MangoHud/
Postman/
QtProject.conf
QtProject/
Spotify-AdKiller/
Synergy/
TabNine/
arkrc
autostart/
baloofileinformationrc
bashtop/
btop/
cef_user_data/
cfg_backups/
chromium/
clerk/
create-next-app-nodejs/
dconf/
discord/
dolphinrc
enlisted/
freerdp/
github-copilot/
htop/
kclockdrc
kclockrc
kde.org/
kdeglobals
kdenlive-layoutsrc
kdenliverc
keepassxc/
kiorc
ktimerrc
kwalletrc
lazygit/
libfm/
libreoffice/
lsd/
lvim/
menus/
nextjs-nodejs/
nodemon.json
nvim/
nwg-look/
obs-studio/
obsidian/
okularpartrc
okularrc
pavucontrol.ini
pulse/
qBittorrent/
qt5ct/
qt6ct/
redshift.conf
session/
swappy/
tool_state
trashrc
turborepo/
unity3d/
vlc/
wget/
wlogout/
xsettingsd/
Cursor
.android/
.wrangler/
Google/
Windsurf/
appimagelauncher.cfg
solana/
systemd/
calibre/
claude-linux-client/
fish/
warp-terminal/
hypr
tmux
pcmanfm*
